$gold-rr: #ffd700;
$yellow-rr: #e5c07b;
$red-rr: #e06c75;
$less-red-rr: #be5046;
$purple-rr: #c678dd;
$purple-darker-rr: #965cff;
$teal-rr: #56b6c2;
$teal-darker-rr: #1e7480;
$green-rr: #98c379;
$orange-rr: #d19a66;
$blue-rr: #61afef;
$grey-rr: #65718a;
$grey-1-rr: #5c6370;
$grey-2-rr: #b0bbd1;

$dark-2-rr: #5a606b;
$dark-3-rr: #4b515c;
$dark-4-rr: #373d48;
$dark-8-rr: #282c34;

$purple-grey-1-rr: #cdc6fd;

//  ╭────────────────────────────────────────────────────────────────────╮
//  │ Grays                                                              │
//  ╰────────────────────────────────────────────────────────────────────╯
//  ╭────────────────────────────────────────────────────────────────────╮
//  │ color7                     #abb2bf                                 │
//  │ color15                    #5c6370                                 │
//  │ active_tab_background      #979eab                                 │
//  │ inactive_border_color      #cccccc                                 │
//  │ grey                       #65718a                                 │
//  │ text                       #E4E6EB                                 │
//  │ btn_bg_primary_lightest    #ffffff                                 │
//  │ body_bg                    #f0f2f5                                 │
//  │ btn_bg_primary_lighter     #f1f1f3                                 │
//  │ card_bg_secondary          #e4edfa                                 │
//  │ white                      #fff                                    │
//  │ gray                       #fafafa                                 │
//  │ gray                       #ededef                                 │
//  │ gray                       #d4d4d7                                 │
//  │ gray                       #bcbbc1                                 │
//  │ gray                       #a4a3ab                                 │
//  │ secondary                  #636466                                 │
//  │ btn_text_secondary         #65676B                                 │
//  │ btn_text_secondary_light   #9c9fa5cc                               │
//  │ btn_text_secondary_lighter #cacdd181                               │
//  │ gray                       #898891                                 │
//  │ gray                       #72717c                                 │
//  │ gray                       #5e5e6a                                 │
//  │ gray                       #4a4958                                 │
//  │ gray                       #3b3a48                                 │
//  │ background                 #313640                                 │
//  │ accent                     #373d48                                 │
//  │ dark                       #2b3038                                 │
//  │ btn_bg_secondary_darker    #021125                                 │
//  │ text                       #050505                                 │
//  │ black                      #000                                    │
//  ╰────────────────────────────────────────────────────────────────────╯
