// $typography-font-family : 'Poppins', normal !default;


$primary : #00396d;
$secondary : #a62644;
$accent : #b07527;

$dark : #1D1D1D;
$dark-page : #121212;

$positive : #21BA45;
$negative : #C10015;
$info : #31CCEC;
$warning : #F2C037;

