@use 'colors';

//  ╭────────────────────────────────────────────────────────────────────╮
//  │ Runtime Ready Dark Colors                                          │
//  ╰────────────────────────────────────────────────────────────────────╯

.text-gold-rr {
  color: colors.$gold-rr;
}

.text-yellow-rr {
  color: colors.$yellow-rr;
}

.text-red-rr {
  color: colors.$red-rr;
}

.text-less-red-rr {
  color: colors.$less-red-rr;
}

.text-purple-rr {
  color: colors.$purple-rr;
}

.text-teal-rr {
  color: colors.$teal-rr;
}

.text-teal-darker-rr {
  color: colors.$teal-darker-rr;
}

.text-green-rr {
  color: colors.$green-rr;
}

.text-orange-rr {
  color: colors.$orange-rr;
}

.text-blue-rr {
  color: colors.$blue-rr;
}

.text-grey-rr {
  color: colors.$grey-rr;
}
